footer{
    background-color: #245b62;
    color: #ffff;
}
footer a{
    color: #ffff;
    text-align: center;
    font-size: 12px;
    justify-content: baseline
}
.partici{
    border: 2px solid #2a6b74;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.programa{
    border: 2px solid #2a6b74;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 140vh;
}
.copy h4{
    color: #ffff;
    font-size: 12px;
    display: flex;
    justify-content: center;
}