body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(230, 255, 247);
}

#bg-header {
  background: url(../img/campo\ gavião.jpg) fixed;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}