* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fffc;
  /*Cor do site*/
}

nav {
  background-color: #8ca89a;
  /*Cor da nav*/
  display: flex;
  justify-content: end;
}

#title-container {
  background-color: #8ca89a;
}


.card:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.card {
  transition: 0.3s;
}

.card-msc {
  background-color: #c7e6d6;
  /*Cor dos cards*/
}

.map {
  display: flex;
  justify-content: center;
  border: solid 10px #245b6a;
  padding: 15px;
}

#maps {
  background-color: #245b6a;
  color: #7bb0be;
  text-align: center;
  border: solid 5px #245b6a;
  border-radius: 15px;
}

#cont-2 {
  margin-top: 100px;
  position: relative;
}

.carousel-item img {
  height: 600px;
  width: 400px;
}

.carousel-item h3 {
  color: #245b6a;
  display: flex;
  justify-content: center;
}

.fin {
  background-color: #245b6a;
}